@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------Heading------*/
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.alert-container {}

.lead {
    color: black;
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}

a {
    color: #00ff26;
}

a:hover {
    color: white;
}

#sign {
    color: white;
}

.navbar-dark .navbar-text {
    color: #00ff26;
}

.navbar-dark .navbar-text {
    color: #00ff26;
}

/*-------- Call Out----*/

.callout-container {
    height: 100vh;

    background: url('../images/runnig.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.slogan-big {
    font-weight: bold;
    color: #ffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
}

.navbar .navbar-toggler {
    border: 0;
}


element.style {
}


.navbar-brand {
    font-weight: bold;
    background-color: #00ff26;
    padding-inline: 10px;
    border-radius: 30px;

}

.navbar .navbar-nav a {
    font-weight: bold;
}
/*-------Quotes-----*/
.quotes-container {}


/*-----facilities----*/
facilities {}

/*-----Bottons----*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px
}

.btn--red {
    color: white;
    background-color: #f05f41;
    border-color: #f05f41;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus {
    background-color: #00ff26fb;
    border-color: #00ff26;
    color: white;
}

.btn .btn--cta .btn--red a {
    color: white;
}

.facilities .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #4c4ce9;
}

/* Block Dividers*/

.block-divider {
    width: 300px;
    height: 2.5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--green {
    background-color: #00ff26;
}

.block-divider--short {
    width: 35px;
}

.block-divider--white{
    background-color: white;
}

/* Page header */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0
}

.quotes .page-header {
    margin-bottom: 25px;
}
/* Facilities */

.container-wrapper {}

.container-wrapper--blue {
    background-color: #4c4ce9;
    color: white;
}

.content-container {
    padding-top: 80px;
    padding-bottom: 75px;
}

.facilities {
    text-align: center;
    margin-bottom: 40px;
}

.facilities i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}


/* Footer */
.footer-container {
    align-items: center;
    padding-top: 35px;
    padding-bottom: 70px;
}

.footer-container--black {
    color: #00ff26;
    background-color: #444;
    
}

.footer {
    text-align: center;
}

/*-------- Sign-----*/

.sign-container {
    height: 130vh;

    background: url('../images/Join.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    padding-top: 0px;

    
}

.sign-container--white {
    color: #00ff26;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px 50px;
    border-radius: 90px 30px;
    
    margin-bottom: 70px;
}

/*-------Four O Four-----*/
.fourofour-container {
    background: url('../images/strong.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourofour-container div {
    margin: 4rem;
    padding: 30px 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 90px 30px;
    width: fit-content;
}